.searchResult {
    &-table {
        width: 100%;
        tr:nth-child(even) {
            background-color: #e8e8e8;
        }
    }
    
    &-info {
        text-align: center;
        padding: 20px;
        color: darkgray;
    }
}